body {
  background-image: url(./fond-comboros.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #ef5995;
}

.header img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5em;
  padding: 0.5em;
  text-align: center;
  color: white;
}

.afficheur-valeur {
  display: flex;
  flex-direction: column;
  background-color: rgb(160, 155, 155, 0.7);
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.5em;
  border: 2px solid white;
  border-radius: 0.1em;
  color: white;
  margin: 0.25em;
}

.afficheur-valeur .valeur {
  font-size: 1.5em;
}
.afficheur-valeur .unite {
  font-size: 0.5em;
}

.will-open-label {
  font-size: 1em;
  margin: 0.25em;
}

.count-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.android-link {
  display: flex;
  justify-content: center;
  font-size: 4vh;
}
.android-link a,
.android-link a:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 1350px) and (orientation: portrait) {
  .afficheur-valeur {
    padding: 0.375em;
    margin: 0.187em;
  }
  .afficheur-valeur .valeur {
    font-size: 1.5em;
  }
  .afficheur-valeur .unite {
    font-size: 0.375em;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .afficheur-valeur {
    padding: 0.25em;
    margin: 0.125em;
  }
  .afficheur-valeur .valeur {
    font-size: 1em;
  }
  .afficheur-valeur .unite {
    font-size: 0.25em;
  }

  .android-link {
    display: flex;
    justify-content: center;
    font-size: 5vw;
  }
}

@media (max-width: 460px) and (orientation: portrait) {
  .afficheur-valeur {
    padding: 2vh;
    margin: 1vh;
  }
  .afficheur-valeur .valeur {
    font-size: 10vh;
  }
  .afficheur-valeur .unite {
    font-size: 2.5vh;
  }
}

@media (max-width: 390px) and (orientation: portrait) {
  .counter {
    padding: 0.12em;
  }
}

@media (max-width: 820px) and (orientation: portrait) {
  .will-open-label {
    font-size: 0.5em;
    margin: 0.25em;
  }
}

@media (orientation: landscape) {
  .will-open-label {
    font-size: 5vh;
    margin: 0.25em;
  }

  .afficheur-valeur {
    padding: 3vh;
    margin: 3vh;
  }
  .afficheur-valeur .valeur {
    font-size: 15vh;
  }
  .afficheur-valeur .unite {
    font-size: 5vh;
  }

  .counter {
    padding: 5vh;
  }
}
