body {
  background-image: url(./fond.png);
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #1b5c98;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  padding: 2em;
  text-align: center;
  color: white;
}
